<% /* eslint-disable */ %>
<%- include("partials/header"); -%>
  <main>
    <section>
      <div class="section-container">
        <div class="section-row">

          <%  posts.forEach(function(post){ %>
            <div class="project-card">
              <h3 class=project-title><%=post.title%></h3>
              <p><%=post.lede%></p>
              <a href="/blog/<%=post.id%>">Read More</a>
            </div>
          <% }) %>

        </div>
      </div>
    </section>
  </main>

<%- include("partials/footer"); -%>
