<% /* eslint-disable */ %>
<%- include("./partials/header") -%>
  <main>
    <section id="intro">
      <h2>Hello</h2>
      <div class="intro-container">
        <div class="col">
          <p class="intro-text">I'm Evan.</p>
          <p class="intro-text">I'm a full stack developer.</p>
          <p class="intro-text">I make things for the web.</p>
        </div>
        <div class="img-col">
          <img class="profile-pic" src="images/profile.jpg" alt="bio picture of Evan Moses">
        </div>
      </div>
    </section>
    <section id="about">
      <h2>About</h2>
      <p class="content-p">
        I taught myself to code after previously building a business in medical technology. Developing the software underpinning a diagnostic telemedicine platform was challenging and fun, and I wanted to do more of it.
      </p>
      <p class="content-p">
        I care about making products and tools that solve problems for people. Especially when they make things that are complicated seem easy - or even delightful! I love working at the 'back' of the front-end and the 'front' the back-end - having the server and client give each other big ol' high fives.</p>
      <p class="content-p">
        I'm primarily a javascript developer but enjoy learning about new and better ways to tackle problems. The technologies I work with every day include node.js/Express, React and mongoDB. I'm currently learning more about test-driven development, and managing complex state with React Hooks.
      </p>
    </section>

    <section id="projects">
      <h2>Projects</h2>
      <div class="section-container">
        <div class="section-row">

          <div class="project-card">
            <a href="https://www.github.com/evanmoses/strategytoolkit" target="_blank"><img src="images/strat-tool-screen.png" alt="Screenshot of strategy toolkit website" title="launch live demo"></a>

            <h3 class=project-title>Strategy Toolkit</h3>
            <p>A repository of tools and strategies for a design consulting firm</p>

            <div class=toggle-content>
              <p>
                A strategic design consultancy needed a reference system to organize and access in-house tools and techniques for project delivery. I developed a site with a content management system and an interface for sorting, displaying and searching relevant tools.
              </p>
              <div class='tech-stack'>Tech Stack</div>
              <p>node.js, ejs, mongoDB, AWS</p>
            </div>
            <div class='project-links'>
              <a href="https://www.github.com/evanmoses/strategytoolkit" target="_blank">
                <i class="fab fa-github project-icon" title="github link"></i>
              </a>
              <a href="https://evanmoses.com/strategytoolkit" target="_blank">
                <i class="fas fa-external-link-alt project-icon" title="live demo"></i>
              </a>
            </div>

            <div class='card-expander'>
              <a role="button">
                <i class="fas fa-angle-down toggle-icon" title="toggle additional project info"></i>
              </a>
            </div>
          </div>

          <div class="project-card">
            <a href="https://evanmoses.com/realtimepre" target="_blank"><img src="images/realtimepre-screen.png" alt="Screenshot of realtime preflop app" title="launch live demo"></a>

            <h3 class=project-title>Preflop Viewer</h3>
            <p>A tool for studying game theory optimal pre-flop poker </p>

            <div class=toggle-content>
              <p>
                As a poker enthusiast, I've been interested in the applications of game theory in solving poker. Existing solvers and range viewing tools are cumbersome and parinfully slow. I wanted a tool where I could quickly create and review optimal preflop ranges for a number of common scenarios.
              </p>
              <div class='tech-stack'>Tech Stack</div>
              <p>React, node.js, MongoDB</p>
            </div>
            <div class='project-links'>
              <a href="https://www.github.com/evanmoses/realtimepre" target="_blank">
                <i class="fab fa-github project-icon" title="github link"></i>
              </a>
              <a href="https://evanmoses.com/realtimepre" target="_blank">
                <i class="fas fa-external-link-alt project-icon" title="live demo"></i>
              </a>
            </div>

            <div class='card-expander'>
              <a role="button">
                <i class="fas fa-angle-down toggle-icon" title="toggle additional project info"></i>
              </a>
            </div>
          </div>

          <div class="project-card">
            <a href="https://evanmoses.com/bogglesolutionfinder" target="_blank"><img src="images/boggle-screen.png" alt="Screenshot of boggle solution finder app" title="launch live demo"></a>

            <h3 class=project-title>Boggle Solver</h3>
            <p>Produces all possible boggle solutions for a given boggle board</p>

            <div class=toggle-content>
              <p>
                My family loves to blay boggle, but there are often arguments about word validity or hand-wringing over missed words. With this tool, an official dictionary of valid words is checked against the rolled board to determine all possible solutions. Utilises a Trie with node-based search to improve performance.
              </p>
              <div class='tech-stack'>Tech Stack</div>
              <p>React</p>
            </div>
            <div class='project-links'>
              <a href="https://www.github.com/evanmoses/bogglesolutionfinder" target="_blank">
                <i class="fab fa-github project-icon" title="github link"></i>
              </a>
              <a href="https://evanmoses.com/bogglesolutionfinder" target="_blank">
                <i class="fas fa-external-link-alt project-icon" title="live demo"></i>
              </a>
            </div>

            <div class='card-expander'>
              <a role="button">
                <i class="fas fa-angle-down toggle-icon" title="toggle additional project info"></i>
              </a>
            </div>
          </div>


        </div>
      </div>
    </section>

    <section id="blog">
      <h2>Blog</h2>
      <p class='content-p' id='blog-top'>
        I write infrequently(!) about projects that I've done or things I find interesting. Check out all my posts <a class='content-link' href='/blog'>here</a>.
        </p>
      <div class="section-container">
        <div class="section-row">

            <%  posts.forEach(function(post, index){ %>
              <% if (index < 3) { %>
                <div class="project-card">
                  <h3 class=project-title><%=post.title%></h3>
                  <p><%=post.lede%></p>
                  <a class="content-link" href="/blog/<%=post.id%>">Read Post</a>
                </div>
              <% } %>
            <% }) %>


        </div>
      </div>
    </section>

    <section id="contact">
      <h2>Contact</h2>
      <p class='content-p'>
        If you're interested in working together, if there's something you'd like to chat about, or if you just want to say hey:
        </p>
      <p class='contact-p'>email: hello@evanmoses.com</p>
      <p  class='contact-p'>github: <a class=content-link href="https://www.github.com/evanmoses" target="_blank">evanmoses</a></p>
      <p  class='contact-p'>twitter: <a class=content-link href="https://www.twitter.com/evan_moses" target="_blank">@evan_moses</a></p>
      <p class='contact-p'>linkedin: <a class=content-link href="https://www.linkedin.com/in/evanbmoses" target="_blank">evanbmoses</a></p>
    </section>
  </main>

<%- include("./partials/footer") -%>
