<% /* eslint-disable */ %>
<%- include("./partials/header") -%>
  <main>
    <section id="intro">
      <h2>Hello</h2>
      <div class="intro-container">
        <div class="col">
          <p class="intro-text">I'm Evan.</p>
          <p class="intro-text">I'm a full stack developer.</p>
          <p class="intro-text">I make things for the web.</p>
        </div>
        <div class="img-col">
          <img class="profile-pic" src="images/profile.jpg" alt="bio picture of Evan Moses">
        </div>
      </div>
    </section>
    <section id="about">
      <h2>About</h2>
      <p>
        My main interest is working at the 'back' of the front-end and the 'front' of the back-end - I love making the server and client-side code give each other high fives.
      </p>
      <p>
        I primarily work in javascript alongside html/css. Some of the technologies that I work with include node.js / express, React, mongoDB. Right now I'm learning more about testing with jest and puppeteer.
      </p>
    </section>

    <section id="projects">
      <h2>Projects</h2>
      <div class="section-container">
        <div class="section-row">

          <div class="project-card">
            <a href="https://thawing-caverns-01686.herokuapp.com/" target="_blank"><img src="images/strat-tool-screen.png" alt="Screenshot of strategy toolkit website" title="launch live demo"></a>

            <h3 class=project-title>Strategy Toolkit</h3>
            <p>A repository of tools and strategies for a design consulting firm</p>

            <div class=toggle-content>
              <p>
                A strategic design consultancy needed a reference system to organize and access in-house tools and techniques for project delivery. I developed a site with a content management system and an interface for sorting, displaying and searching relevant tools.
              </p>
              <div class='tech-stack'>Tech Stack</div>
              <p>node.js, ejs, mongoDB, AWS</p>
            </div>
            <div class='project-links'>
              <a href="https://www.github.com/evanmoses/strategytoolkit" target="_blank">
                <i class="fab fa-github project-icon" title="github link"></i>
              </a>
              <a href="https://thawing-caverns-01686.herokuapp.com/" target="_blank">
                <i class="fas fa-external-link-alt project-icon" title="live demo"></i>
              </a>
            </div>

            <div class='card-expander'>
              <a role="button">
                <i class="fas fa-angle-down toggle-icon" title="toggle additional project info"></i>
              </a>
            </div>
          </div>

          <div class="project-card">
            <a href="https://thawing-caverns-01686.herokuapp.com/" target="_blank"><img src="images/realtimepre-screen.png" alt="Screenshot of strategy toolkit website" title="launch live demo"></a>

            <h3 class=project-title>Strategy Toolkit</h3>
            <p>A repository of tools and strategies for a design consulting firm</p>

            <div class=toggle-content>
              <p>
                This is some other text about a project. This is some other text about a project. This is some other text about a project. This is some other text about a project. This is some other text about a project.
              </p>
              <div class='tech-stack'>Tech Stack</div>
              <p>node.js, ejs, mongoDB, AWS</p>
            </div>
            <div class='project-links'>
              <a href="https://www.github.com/evanmoses/strategytoolkit" target="_blank">
                <i class="fab fa-github project-icon" title="github link"></i>
              </a>
              <a href="https://thawing-caverns-01686.herokuapp.com/" target="_blank">
                <i class="fas fa-external-link-alt project-icon" title="live demo"></i>
              </a>
            </div>

            <div class='card-expander'>
              <a role="button">
                <i class="fas fa-angle-down toggle-icon" title="toggle additional project info"></i>
              </a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section id="blog">
      <h2>Blog</h2>
      <div class="section-container">
        <div class="section-row">

            <%  posts.forEach(function(post, index){ %>
              <% if (index < 3) { %>
                <div class="project-card">
                  <h3 class=project-title><%=post.title%></h3>
                  <p><%=post.lede%></p>
                  <a href="/blog/<%=post.id%>">Read More</a>
                </div>
              <% } %>
            <% }) %>


        </div>
      </div>
    </section>

    <section id="contact">
      <h2>Contact</h2>
      <p>email: hello@evanmoses.com</p>
      <p>github: evanmoses</p>
      <p>twitter: @evan_moses</p>
      <p>linkedin: evanbmoses</p>
    </section>
  </main>

<%- include("./partials/footer") -%>
